.idea
*.pyc
*.qif
db.sqlite3
simple_budget.zz50.co.uk.iml
scripts/config.ini
scripts/config.yaml
*.QIF
nohup.out
simple_budget.iml
config.yaml
static/assets/js/lib/*
!static/assets/js/lib/empty
/_docs/js/*

