<!DOCTYPE html>
<html lang="en">
<head>
    <title>Simple Budget</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="/static/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css"
          href="//code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/styles.css" />
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.12/d3.min.js"></script>
</head>
<body id="body">

    <div class="container-fluid">
        <div id="header">
            <div id="header_content">
                <h1><a href="/">Simple Accounts</a></h1>
            </div>
        </div>
        <div class="navbar-header">
            <div class="dropdown navbar_dropdown">
                <a class="btn btn-sm btn-default dropdown-toggle"
                   data-toggle="dropdown" href="#">
                    Accounts&nbsp;<span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li>
                        <a role="menuitem" href="/budget/summary/">
                            Accounts List*
                        </a>
                        <a role="menuitem" href="/budget/summary/">
                            Projected Savings*
                        </a>
                        <a role="menuitem" href="/budget/summary/">
                            Net Worth*
                        </a>
                        <a role="menuitem" href="/budget/summary/">
                            Add Account*
                        </a>
                    </li>
                </ul>
            </div>
            <div class="dropdown navbar_dropdown">
                <a class="btn btn-sm btn-default dropdown-toggle"
                   data-toggle="dropdown" href="#">
                    Budget&nbsp;<span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li>
                        <a role="menuitem" href="/budget/summary/">
                            Summary
                        </a>
                        <a role="menuitem" href="/budget/">
                            Monthly Budget
                        </a>
                        <a role="menuitem" href="/transaction/category/">
                            Budget Categories*
                        </a>
                        <a role="menuitem" href="/transaction/category/">
                            Budgets*
                        </a>
                        <a role="menuitem" href="/budget/summary/">
                            Add Budget*
                        </a>
                    </li>
                </ul>
            </div>
            <div class="dropdown navbar_dropdown">
                <a class="btn btn-sm btn-default dropdown-toggle"
                   data-toggle="dropdown" href="#">
                    Transactions&nbsp;<span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li>
                        <a role="menuitem" href="/transactions/">
                            Transactions
                        </a>
                        <a role="menuitem" href="/transaction/add">
                            Add Transaction*
                        </a>
                        <a role="menuitem" href="/transaction/category/">
                            Transaction Categories
                        </a>
                        <a role="menuitem" href="/transaction/category/add">
                            Add Transaction Category
                        </a>
                        <a role="menuitem" href="/transaction/upload_quicken_file/">
                            Upload Quicken File
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="main" class="row-fluid" style="clear:both;">
            <div id="sub_main">
                {% include 'message.html' %}
                {% block content %}{% endblock %}
            </div>
        </div>
        <div id="footer">simple budget v0.1</div>
    </div>

    <script data-main="/static/assets/js/main"
            src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js">
    </script>

</body>
</html>