#body {
    background:#f2f2e9;
    font-family: "Trebuchet MS";
 }
.container-fluid {
    margin-right:auto;
    margin-left:auto;
    width:720px;
    background:#FFFFFF;
    padding:0;
    margin-bottom:40px;
}
#header {
    background:#ffdf43;
    height:60px;
    border-bottom:1px solid #000000;
}
#welcome {
    float:right;
    padding:5px;
    font-weight:bold;
    font-size:0.9em;
}
#welcome a {
    color:#000000;
    text-decoration:underline;
}
#header_content {
    padding:15px 0 0 15px;
}
#header_content h1 {
    color:#000000;
    font-weight:bold;
    margin:0;
    padding:0;
    font-size:1.7em;
}
#header_content a {
    color:#000000;
    text-decoration:none;
}
#footer {
    border-top:1px solid #000000;
    border-bottom:1px solid #000000;
    font-size:0.75em;
    padding-left:10px;
    background-color:#F9F9F9;
    font-weight:bold;
}
div.navbar-header {
    border-bottom:1px solid #000000;
    width:100%;
    padding:5px 5px 5px 10px;
    background-color:#F9F9F9;
    height:42px;
}
div.navbar_dropdown {
    float:left;
    padding-right:10px;
}
div#sub_main {
    padding:10px;
    min-height:500px;
}
div#upload_file {
    border:1px solid #DDDDDD;
    margin-left:10px;
    padding:10px;
    float:right;
    width:23%
}
table#budget {
    width:100%;
}
table#budget tbody tr > td.currency {
    text-align:right;
}
table#budget tbody tr > td.success {
    color:#32CD32;
    font-weight:bold;
}
table#budget tbody tr > td.warning {
    color:#FF0000;
    background-color:#f2dede;
    font-weight:bold;
}
table#budget th#date_header {
    text-align:center;
}
table#budget th#date_header span > a {
    text-decoration:none;
    color:#000000;
}
table#budget th#date_header span#next_date {
    float:right;
}
table#budget th#date_header span#previous_date {
    float:left;
}
table#budget td.seperator {
    line-height:1px;
    background-color:#000000;
    border:0px;
    padding:0px;
}
table#budget th a.sort {
    color:#000000;
    text-decoration:underline;
}
table#budget td.notes {
    background-color:#FFFFFF;
    color:#FF0000;
    font-size:0.85em;
    font-style:italic;
    word-wrap: break-word;
    padding:2px 20px 2px 20px;
}
table#budget th.center, td.center {
    text-align:center;
}
table#budget a.black {
    color:#000000;
    text-decoration:underline;
}
span.sort_icon {
    font-size:0.7em;
}
td.success {
    background-color: #dff0d8 !important;
}
div.form {
    width:70%;
    margin:0 auto;
}
div.form fieldset {
    border:1px solid #000000;
}
div.form legend {
    width:inherit;
    padding:0px 10px;
    border-bottom:none;
    font-size:1.15em;
}
div.form form {
    padding:0px 50px 35px 50px;
}
p.form-warning {
    margin-top:20px;
    padding:5px;
    border:1px solid #a94442;
    width:350px;
}
select.form-medium,
input.form-medium {
    width:150px;
}
select.form-large,
input.form-large {
    width:350px;
}
label {
    color:#000000 !important;
}
p.message {
    padding:5px;
}