{% extends "base.html" %}
{% load templatetags %}

{% block content %}
    <table id="budget" class="table table-condensed table-striped table-bordered">
        <tr>
            <th id="table_header" colspan="7">
                <div class="dropdown" style="float:right;">
                    <a class="btn btn-xs btn-default dropdown-toggle"
                       data-toggle="dropdown" href="#">
                        Actions&nbsp;<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li>
                            <a role="menuitem"href="/budget/?date={{date|date:"Y-m"}}">
                                Monthly Budget
                            </a>
                        </li>
                        {% if user.is_superuser %}
                            <li>
                                <a role="menuitem"href="/transaction/add">
                                    Add Transaction
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div id="title">
                    {% if prev_month %}
                        <span id="previous_date">
                            <a href="/transactions/?date={{prev_month|date:"Y-m"}}"
                               title="previous month">
                            &laquo;&laquo;
                            </a>
                        </span>
                    {% else %}
                        <span id="previous_date">&laquo;&laquo;</span>
                    {% endif %}
                    Transaction Log&nbsp;({{date|date:"F Y"}})
                    {% if next_month %}
                        <span id="next_date">
                            <a href="/transactions/?date={{next_month|date:"Y-m"}}"
                               title="next month">
                            &raquo;&raquo;
                            </a>
                        </span>
                    {% else %}
                        <span id="next_date">&raquo;&raquo;</span>
                    {% endif %}
                </div>
            </th>
        </tr>
        <tr>
            <th style="width:10%">
                <a class="sort" title="sort {% if sort == 0 %}descending{% else %}ascending{% endif %}"
                   href="/transactions/?date={{date|date:"Y-m"}}&sort={% if not sort == 0 %}0{% else %}1{% endif %}">
                    Date
                </a>
                {% if sort == 0 or sort == 1 %}
                    <span class="pull-right glyphicon
                                 glyphicon-chevron-{% if sort == 0 %}up{% else %}down{% endif %}
                                 sort_icon"></span>
                {% endif %}
            </th>
            <th style="width:20%">
                <a class="sort" title="sort {% if sort == 8 %}descending{% else %}ascending{% endif %}"
                   href="/transactions/?date={{date|date:"Y-m"}}&sort={% if not sort == 8 %}8{% else %}9{% endif %}">
                    Account
                </a>
                {% if sort == 8 or sort == 9 %}
                    <span class="pull-right glyphicon
                                 glyphicon-chevron-{% if sort == 8 %}up{% else %}down{% endif %}
                                 sort_icon"></span>
                {% endif %}
            </th>
            <th>
                <a class="sort" title="sort {% if sort == 2 %}descending{% else %}ascending{% endif %}"
                   href="/transactions/?date={{date|date:"Y-m"}}&sort={% if not sort == 2 %}2{% else %}3{% endif %}">
                    Transaction Category
                </a>
                {% if sort == 2 or sort == 3 %}
                    <span class="pull-right glyphicon
                                 glyphicon-chevron-{% if sort == 2 %}up{% else %}down{% endif %}
                                 sort_icon"></span>
                {% endif %}
            </th>
            <th style="width:15%">
                <a class="sort" title="sort {% if sort == 4 %}descending{% else %}ascending{% endif %}"
                   href="/transactions/?date={{date|date:"Y-m"}}&sort={% if not sort == 4 %}4{% else %}5{% endif %}">
                    Budget Category
                </a>
                {% if sort == 4 or sort == 5 %}
                    <span class="pull-right glyphicon
                                 glyphicon-chevron-{% if sort == 4 %}up{% else %}down{% endif %}
                                 sort_icon"></span>
                {% endif %}
            </th>
            <th style="width:15%">
                <a class="sort" title="sort {% if sort == 10 %}descending{% else %}ascending{% endif %}"
                   href="/transactions/?date={{date|date:"Y-m"}}&sort={% if not sort == 10 %}10{% else %}11{% endif %}">
                    Budget Type
                </a>
                {% if sort == 10 or sort == 11 %}
                    <span class="pull-right glyphicon
                                 glyphicon-chevron-{% if sort == 4 %}up{% else %}down{% endif %}
                                 sort_icon"></span>
                {% endif %}
            </th>
            <th style="width:10%">
                <a class="sort" title="sort {% if sort == 6 %}descending{% else %}ascending{% endif %}"
                   href="/transactions/?date={{date|date:"Y-m"}}&sort={% if not sort == 6 %}6{% else %}7{% endif %}">
                    Amount
                </a>
                {% if sort == 6 or sort == 7 %}
                    <span class="pull-right glyphicon
                                 glyphicon-chevron-{% if sort == 6 %}up{% else %}down{% endif %}
                                 sort_icon"></span>
                {% endif %}
            </th>
            {% if user.is_superuser %}
                <th style="width:1%" class="center">-</th>
            {% endif %}
        </tr>
        {% if not transactions %}
            <tr>
                <td colspan="5" class="center text-danger">
                    No Transactions Found
                </td>
            </tr>
        {% else %}
            {% for transaction in transactions %}
                <tr {% if transaction.transaction_date|in_the_future %}
                        class="info"
                    {% endif %}>
                    <td>
                        {{transaction.transaction_date}}
                    </td>
                    <td>
                        {% if transaction.account_name != 'Holding' %}
                            <a href="/account/{{transaction.account_id}}/">
                                {{transaction.account_name}}
                            </a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {{transaction.category}}
                    </td>
                    <td>
                        {% if transaction.budget_category != 'n/a' %}
                            {{transaction.budget_category}}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if transaction.budget_category != 'n/a' %}
                            {{transaction.budget_type}}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td class="currency
                                {% if transaction.amount > 0 %}
                                    success
                                {% else %}
                                    warning
                                {% endif %}">
                        {{transaction.amount}}
                    </td>
                    {% if user.is_superuser %}
                        <td class="center">
                            <div class="dropdown">
                                <a class="btn btn-xs btn-default dropdown-toggle"
                                   data-toggle="dropdown" href="#">
                                    Actions&nbsp;<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <li>
                                        <a role="menuitem"
                                           href="/transaction/edit/{{transaction.id}}/">
                                            Edit Transaction
                                        </a>
                                        <a role="menuitem"
                                           href="/transaction/delete/{{transaction.id}}/">
                                            Delete Transaction
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}