{% extends "base.html" %}
{% block content %}
    <div style="width:80%;margin:0 auto;">
        <fieldset style="border:1px solid #000000;">
            <legend style="width:inherit; padding:0px 10px;border-bottom:none;font-size:1.15em;">
                Upload Quicken File
            </legend>
            <div style="padding:0px 50px 35px 50px;">
                <form action="/transaction/upload_quicken_file/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" value="Submit" />
                </form>
                <p class="text-danger" style="padding-top:20px;">
                    <strong>
                        Warning!!! uploading a quicken file will delete all
                        currently stored transactions.
                    </strong>
                </p>
            </div>
        </fieldset>
    </div>
{% endblock %}