{% extends "base.html" %}
{% block content %}
    <div class="form">
        <fieldset>
            <legend>Upload Quicken File</legend>
            <form action="/transaction/upload_quicken_file/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Submit" />
                <p class="text-danger" style="padding-top:20px;">
                    <strong>
                        Warning!!! uploading a quicken file will delete all
                        currently stored transactions.
                    </strong>
                </p>
            </form>
        </fieldset>
    </div>
{% endblock %}