{% extends "base.html" %}
{% load templatetags %}

{% block content %}
    <table id="budget" class="table table-condensed
                              table-striped table-bordered">
        <tr>
            <th id="date_header" colspan="6">
                <div class="dropdown" style="float:right;">
                    <a class="btn btn-xs btn-default dropdown-toggle"
                       data-toggle="dropdown" href="#">
                        Actions&nbsp;<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li>
                            <a role="menuitem"
                               href="/transactions/?date={{date|date:"Y-m"}}">
                                View Transactions
                            </a>
                            <a role="menuitem"
                               href="/budget/summary/?year={{date|date:"Y"}}">
                                Monthly Summary
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="title">
                    {% if prev_month %}
                        <span id="previous_date">
                            <a href="/budget/?date={{prev_month|date:"Y-m"}}"
                               title="previous month">
                                &laquo;&laquo;
                            </a>
                        </span>
                    {% else %}
                        <span id="previous_date">&laquo;&laquo;</span>
                    {% endif %}
                    Monthly Budget&nbsp;({{date|date:"F Y"}})
                    {% if next_month %}
                        <span id="next_date">
                            <a href="/budget/?date={{next_month|date:"Y-m"}}"
                               title="next month">
                                &raquo;&raquo;
                            </a>
                        </span>
                    {% else %}
                        <span id="next_date">&raquo;&raquo;</span>
                    {% endif %}
                </div>
            </th>
        </tr>
        <tr>
            <th>Budget Category</th>
            <th>Budget(£)</th>
            <th>Actual(£)</th>
            <th>Difference(£)</th>
            <th>Difference(%)</th>
            <th>12 Month Avg(£)</th>
        </tr>
        {% if not totals or not transactions %}
            <tr>
                <td colspan="6" class="center text-danger">
                    No Transactions Found
                </td>
            </tr>
        {% else %}
            {% for total in totals %}
                {% for transaction in transactions %}
                    {% if total.budget_type == transaction.budget_type %}
                        <tr>
                            <td>
                                {{transaction.budget_category}}
                            </td>
                            <td class="currency">
                                {% if transaction.budget_amount %}
                                    {{transaction.budget_amount|currency}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td class="currency">
                                {% if transaction.actual_spend %}
                                    {{transaction.actual_spend|currency}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            {% if transaction.difference and transaction.actual_spend %}
                                <td class="currency
                                    {% if transaction.difference > 0 %}
                                        success
                                    {% else %}
                                        warning
                                    {% endif %}">
                                    {{transaction.difference|currency}}
                                </td>
                            {% else %}
                                <td class="currency
                                            {% if not transaction.difference and not transaction.actual_spend and transaction.budget_amount %}
                                                {% if total.budget_type != 'Expense' %}
                                                    warning
                                                {% else %}
                                                    success
                                                {% endif %}
                                            {% endif %}">
                                    {% if not transaction.difference and not transaction.actual_spend and transaction.budget_amount %}
                                        {% if total.budget_type != 'Expense' %}
                                            -{{transaction.budget_amount|currency}}
                                        {% else %}
                                            {{transaction.budget_amount|currency}}
                                        {% endif %}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            {% endif %}
                            </td>
                            {% if transaction.difference_percent %}
                                <td class="currency
                                                {% if transaction.difference > 0 %}
                                                    success
                                                {% else %}
                                                    warning
                                                {% endif %}">
                                    {{transaction.difference_percent|currency}}
                                </td>
                            {% elif not transaction.actual_spend and transaction.budget_amount %}
                                <td class="currency
                                            {% if total.budget_type != 'Expense' %}
                                                warning
                                            {% else %}
                                                success
                                            {% endif %}">
                                    100.00
                                </td>
                            {% else %}
                                <td class="currency">
                                    -
                                </td>
                            {% endif %}
                            <td class="currency">
                                {% if transaction.average_annual_spend %}
                                    {{transaction.average_annual_spend|currency}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                {% if total.budget_type == 'Expense' %}
                    <tr>
                        <td colspan="6" class="notes">
                            *Going over budget in the expense category
                            is a negative outcome so the difference is
                            highlighted in red.The reverse is true for all other
                            categories.
                        </td>
                    </tr>
                {%  endif %}
                <tr>
                    <td colspan="6" class="seperator">&nbsp;</td>
                </tr>
                <tr>
                    <td><strong>Total {{total.budget_type}}(£)</strong></td>
                    <td class="currency">
                        {% if total.budget %}
                            <strong>{{total.budget|currency}}</strong>
                        {% else %}
                            -
                        {%  endif %}
                    </td>
                    <td class="currency">
                        {% if total.actual %}
                            <strong>{{total.actual|currency}}</strong>
                        {% else %}
                            -
                        {%  endif %}
                    </td>
                    {% if total.difference and total.budget and total.actual %}
                        <td class="currency
                                        {% if total.difference > 0 %}
                                            success
                                        {% else %}
                                            warning
                                        {% endif %}">
                            <strong>{{total.difference|currency}}</strong>
                        </td>
                    {% else %}
                        <td class="currency">-</td>
                    {% endif %}
                    {% if total.difference_percent %}
                        <td class="currency
                                        {% if total.difference > 0 %}
                                            success
                                        {% else %}
                                            warning
                                        {% endif %}">
                            <strong>
                                {{total.difference_percent|currency}}
                            </strong>
                        </td>
                    {% else %}
                        <td class="currency">-</td>
                    {% endif %}
                    <td class="currency">
                        {% if total.average_annual %}
                            <strong>{{total.average_annual|currency}}</strong>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
                <tr><td colspan="6" class="seperator">&nbsp;</td></tr>
            {% endfor %}

            <tr>
                <td><strong>Grand Total(£)</strong></td>
                {% if grand_total.budget %}
                    <td class="currency
                                {% if grand_total.budget > 0 %}
                                    success
                                {% else %}
                                    warning
                                {% endif %}">
                        <strong>
                            {{grand_total.budget|currency}}
                        </strong>
                    </td>
                {% else %}
                    <td class="currency">-</td>
                {% endif %}
                {% if grand_total.actual %}
                    <td class="currency
                            {% if grand_total.actual > 0 %}
                                success
                            {% else %}
                                warning
                            {% endif %}">
                        <strong>
                            {{grand_total.actual|currency}}
                        </strong>
                    </td>
                {% else %}
                    <td class="currency">-</td>
                {% endif %}
                {% if grand_total.difference and grand_total.budget and grand_total.actual %}
                    <td class="currency
                            {% if grand_total.difference > 0 %}
                                success
                            {% else %}
                                warning
                            {% endif %}">
                        <strong>
                            {{grand_total.difference|currency}}
                        </strong>
                    </td>
                {% else %}
                    <td class="currency">-</td>
                {% endif %}
                {% if grand_total.difference_percent %}
                    <td class="currency
                            {% if grand_total.budget > 0 %}
                                success
                            {% else %}
                                warning
                            {% endif %}">
                        <strong>
                            {{grand_total.difference_percent|currency}}
                        </strong>
                    </td>
                {% else %}
                    <td class="currency">-</td>
                {% endif %}
                {% if grand_total.average_annual %}
                    <td class="currency
                            {% if grand_total.average_annual > 0 %}
                                success
                            {% else %}
                                warning
                            {% endif %}">
                        <strong>
                            {{grand_total.average_annual|currency}}
                        </strong>
                    </td>
                {% else %}
                    <td class="currency">-</td>
                {% endif %}
            </tr>
            <tr><td colspan="6" class="seperator">&nbsp;</td></tr>
        {% endif %}
    </table>
{% endblock %}