{% extends "base.html" %}
{% load templatetags %}

{% block content %}
    <svg class="chart"></svg>

    <table id="budget" class="table table-condensed table-striped table-bordered">
        <tr>
            <th id="table_header" colspan="6">
                {% if year %}
                    <div class="dropdown" style="float:right;">
                        <a class="btn btn-xs btn-default dropdown-toggle"
                           data-toggle="dropdown" href="#">
                            Actions&nbsp;<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li>
                                <a role="menuitem"
                                   href="/budget/summary/">
                                    Annual Summary
                                </a>
                            </li>
                        </ul>
                    </div>
                {% endif %}
                <div id="title">
                    {% if year %}
                        {% if prev_year %}
                            <span id="previous_date">
                                <a href="/budget/summary/?year={{prev_year}}"
                                   title="previous year">
                                    &laquo;&laquo;
                                </a>
                            </span>
                        {% else %}
                            <span id="previous_date">&laquo;&laquo;</span>
                        {% endif %}
                        Monthly Summary&nbsp;({{year}})
                        {% if next_year %}
                            <span id="next_date">
                                <a href="/budget/summary/?year={{next_year}}"
                                   title="next year">
                                    &raquo;&raquo;
                                </a>
                            </span>
                        {% else %}
                            <span id="next_date">&raquo;&raquo;</span>
                        {% endif %}
                    {% else %}
                        Annual Summary
                    {% endif %}
                </div>
            </th>
        </tr>
        <tr>
            <th style="width:12%">Date</th>
            <th style="width:18%">Income(£)</th>
            <th style="width:18%">Expense(£)</th>
            <th style="width:18%">Savings(£)</th>
            <th style="width:18%">Debt Repayment(£)</th>
        </tr>
        <tbody>
            {% for key, spending in spending_by_budget_type.items %}
                <tr>
                    <td>
                        {% if year %}
                            <a href="/budget/?date={{spending.date|date:"Y-m"}}">
                                {{spending.date|date:"F Y"}}
                            </a>
                        {% else %}
                            <a href="/budget/summary/?year={{spending.date|date:"Y"}}">
                                {{spending.date|date:"Y"}}
                            </a>
                        {% endif %}
                    </td>
                    <td class="currency">
                        {{spending.income|currency}}
                        {% if not year %}
                            <span style="font-size:0.65em;float:left;padding-top:8px;">
                                ({{spending.income_average|currency}})
                            </span>
                        {% endif %}
                    </td>
                    <td class="currency">
                        {{spending.expense|currency}}
                        {% if not year %}
                            <span style="font-size:0.65em;float:left;padding-top:8px;">
                                ({{spending.expense_average|currency}})
                            </span>
                        {% endif %}
                    </td>
                    <td class="currency
                            {% if spending.savings < 0 %}
                                warning
                            {% else %}
                                success{% endif %}">
                        {{spending.savings|currency}}
                        {% if not year %}
                            <span style="font-size:0.65em;float:left;padding-top:8px;">
                                ({{spending.savings_average|currency}})
                            </span>
                        {% endif %}
                    </td>
                    <td class="currency
                            {% if spending.debt_repayment < 0 %}
                                warning
                            {% else %}
                                success{% endif %}">
                        {{spending.debt_repayment|currency}}
                        {% if not year %}
                            <span style="font-size:0.65em;float:left;padding-top:8px;">
                                ({{spending.debt_repayment_average|currency}})
                            </span>
                        {% endif %}
                    </td>
                </tr>
            {%  endfor %}
            {% if year %}
                <tr>
                    <td colspan="6" class="seperator">&nbsp;</td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td class="currency">
                        <strong>
                            {{total_spending.income|currency}}
                        </strong>
                    </td>
                    <td class="currency">
                        <strong>
                            {{total_spending.expense|currency}}
                        </strong>
                    </td>
                    <td class="currency
                            {% if total_spending.savings < 0 %}
                                warning
                            {% else %}
                                success{% endif %}">
                        <strong>
                            {{total_spending.savings|currency}}
                        </strong>
                    </td>
                    <td class="currency
                                {% if total_spending.debt_repayment < 0 %}
                                    warning
                                {% else %}
                                    success{% endif %}">
                        <strong>
                            {{total_spending.debt_repayment|currency}}
                        </strong>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="seperator">&nbsp;</td>
                </tr>
                <tr>
                    <td><strong>Average</strong></td>
                    <td class="currency">
                        <strong>
                            {{average_spending.income|currency}}
                        </strong>
                    </td>
                    <td class="currency">
                        <strong>
                            {{average_spending.expense|currency}}
                        </strong>
                    </td>
                    <td class="currency">
                        <strong>
                            {{average_spending.savings|currency}}
                        </strong>
                    </td>
                    <td class="currency">
                        <strong>
                            {{average_spending.debt_repayment|currency}}
                        </strong>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="seperator">&nbsp;</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

{% endblock %}